# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Output files (downloaded/created by script)
zaf/
gbr/
irl/
jpn/
mdg/
occurrence_files/
set_env_variables.R
spatial_thin_log.txt
total_residual.R
bias_correction/
bias_assessment_reports/1(a). mdg_invaded_clean_bias_report.Rmd
bias_assessment_reports/1(a). mdg_invaded_clean_bias_report.html
bias_assessment_reports/1(a). mdg_invaded_clean_bias_report.qmd
bias_assessment_reports/1(a). mdg_invaded_clean_bias_report_files/
bias_assessment_reports/1(b). mdg_invaded_clean_bias_report_by_species.Rmd
bias_assessment_reports/1-a-.-mdg_invaded_clean_bias_report_files/
bias_assessment_reports/2(a). gbr_invaded_clean_bias_report.Rmd
bias_assessment_reports/3(a) irl_invaded_clean_bias_report.Rmd
bias_assessment_reports/4(a) jpn_invaded_clean_bias_report.Rmd
bias_assessment_reports/4(b) jpn_invaded_clean_bias_report.Rmd
bias_assessment_reports/5(a) zaf_invaded_clean_bias_report.Rmd
bias_assessment_reports/5(b) zaf_invaded_clean_bias_report.Rmd
Climate Soil Volume Analysis/
.DS_Store
13.  bias assessment results/.DS_Store
13.  bias assessment results/UntitledRMD.Rmd
13.  bias assessment results/gbr_invaded_clean/
13.  bias assessment results/irl_Invaded_clean/
13.  bias assessment results/jpn_invaded_clean/
13.  bias assessment results/mdg_invaded_clean/
13.  bias assessment results/nzl_glonaf_invaded_clean/
13.  bias assessment results/zaf_invaded_clean/
aws_upload_function.R